* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(72, 72, 86);
}

ul {
  margin: auto;
  padding-bottom: 50px;
}

li {
  list-style: none;
  margin: 40px 0;
}

i {
  color: orange;
}


/* card style */

.card_back p {
  height: 35ch;
  overflow: auto;

}

.language_img {
  width: 50px;
}

.movie_img {
  width: 100%;
  height: 100%;

}

.flip_card_wrapper {
  background-color: transparent;
  width: 400px;
  height: 500px;
  perspective: 1000px;
  margin: auto;

}

.card_wrapper_movies,
.card_wrapper_Tv_series {

  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card_front {
  background-color: #bbb;
  color: black;
}

.card_back {
  background-color: black;
  color: white;
  transform: rotateY(180deg);
}

.card_front,
.card_back {
  border: 1px solid black;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.fa-regular,
.far {
  position: relative;
  right: 4px;
}

.flip_card_wrapper:hover .card_wrapper_movies,
.flip_card_wrapper:hover .card_wrapper_Tv_series {
  transform: rotateY(180deg);
}

/* utilities */

.d_flex {
  display: flex;
}

.justify_between {
  justify-content: space-between;
}

.flex_wrap {
  flex-wrap: wrap;
}

.align_center {
  align-items: center;
}