* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #434343;
}

ul {
  margin: auto;
}

li {
  list-style: none;
  margin: 40px 0;
}

i {
  color: orange;
}

/* utilities */

.d_flex {
  display: flex;
}

.justify_between {
  justify-content: space-between;
}

.flex_wrap {
  flex-wrap: wrap;
}

.align_center {
  align-items: center;
}